#(project
  (#(meta
    (#(name cnbbsite)
     #(description "Cowboys 'N Beans Books Site")
     #(version "0.0.1")
     #(keywords ("LFE" "Application" "Site" "Website"))
     #(maintainers
       ((#(name "oubiwann") #(email "oubiwann@gmail.com"))))
     #(repos
       (#(private "git.cnbboos.co:cnbb/site")))))
   #(deps
     (#("lfex/lcfg" "master")))))

#(logging
  (#(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend debug)))))
