<div class="section" id="footer">
    <div class="container">
        <div class="row well footer">
            <div class="bottom-nav"><a href="/about">About</a>&nbsp;|&nbsp;<a
                    href="http://cnbbooks.blogspot.com">Blog</a>&nbsp;|&nbsp;<a href="/media">Media</a>&nbsp;|&nbsp;<a
                    href="/contact">Contact</a>&nbsp;|&nbsp;<a href="/books/buy">How to Order</a></div>
        </div>
    </div>
</div>
<div class="section" id="subfooter">
    <div class="container">
        <div class="row text-right">
            <div class="subfooter">
                <div class="social"><a href="https://groups.google.com/forum/#!forum/cnbbooks-announcements/join"><span
                            class="icon-newspaper" /></a><span>&nbsp</span><a href="http://twitter.com/CNBBooks"><span
                            class="icon-twitter" /></a><span>&nbsp</span><a
                        href="http://feeds.feedburner.com/CowboysNBeansBooks"><span class="icon-rss" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer">
    <div class="container text-center">
        <div class="subfooter"><span class="copyright">&copy; 2015-2020, C&B|Books</span><span
                class="copyright"><br />Cowboys 'N Beans Books, LLC is a subsidiary of </span><a class="copyright"
                href="http://billo.systems/">Billo Systems, Ltd. Co.</a></div>
    </div>
</footer>
