<nav class="navbar navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header"><img src="/images/logo-1.6-long-3-x50.png" class="navlogo" />
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/cnbbooks-announcements">News</a></li>
                    <li><a href="/books/upcoming">Coming Soon</a></li>
                    <li><a href="/books/buy">Purchasing</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="section" id="subheader">
    <div class="container">
        <div class="row text-right">
            <div class="subheader">
                <div class="social"><a href="http://twitter.com/CNBBooks"><span
                            class="icon-twitter" /></a><span>&nbsp</span><a
                        href="http://feeds.feedburner.com/CowboysNBeansBooks"><span class="icon-rss" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
