<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>C&amp;B|Books | About</title>
    <link rel="stylesheet" href="/css/bootstrap-min.css">
    <link rel="stylesheet" href="/css/bootstrap-spacelab-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>


<body>
    <main>
        <nav class="navbar navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header"><img src="/images/logos/logo-1.png" class="navlogo">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/books">Books</a></li>
                            <li><a href="https://groups.google.com/forum/#!forum/cnbbooks-announcements">News</a></li>
                            <li><a href="/books/upcoming">Coming Soon</a></li>
                            <li><a href="/books/buy">Purchasing</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="section" id="subheader">
            <div class="container">
                <div class="row text-right">
                    <div class="subheader">
                        <div class="social"><a href="http://twitter.com/CNBBooks"><span
                                    class="icon-twitter"></span></a><span>&nbsp;</span><a
                                href="http://feeds.feedburner.com/CowboysNBeansBooks"><span class="icon-rss"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="main">
            <div class="container">
                <div class="row well">
                    <div>
                        <h1>C&amp;B|Books</h1>
                        <h2>A Tale of Cowboys 'N Beans</h2>
                        <div><img style="float: left" src="/images/logos/logo-square-small.png">
                            <p>
                                Cowboys 'N Beans Books is not a large company and has no interest in becoming
                                a "power player" in the publishing industry. We do, however, have a very keen
                                intertest in providing titles to small communities with great passion for their
                                subject areas and no means of sharing published works with each other.
                            </p>

                            <p>
                                Cowboys 'N Beans Books formed when we realized that it would be much easier to
                                make those dreams come true if we formed a company whose sole purpose was to
                                focus on that goal. Cowboys 'N Beans Books is amd will remain a small publishing
                                company which takes a special interest in obscure works of an interesting and
                                unique nature. We hope you enjoy what we have discovered and shared with you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="footer">
            <div class="container">
                <div class="row well footer">
                    <div class="bottom-nav"><a href="/about">About</a>&nbsp;|&nbsp;<a
                            href="http://cnbbooks.blogspot.com/">Blog</a>&nbsp;|&nbsp;<a
                            href="/media">Media</a>&nbsp;|&nbsp;<a href="/contact">Contact</a>&nbsp;|&nbsp;<a
                            href="/books/buy">How to Order</a></div>
                </div>
            </div>
        </div>
        <div class="section" id="subfooter">
            <div class="container">
                <div class="row text-right">
                    <div class="subfooter">
                        <div class="social"><a
                                href="https://groups.google.com/forum/#!forum/cnbbooks-announcements/join"><span
                                    class="icon-newspaper"></span></a><span>&nbsp;</span><a
                                href="http://twitter.com/CNBBooks"><span
                                    class="icon-twitter"></span></a><span>&nbsp;</span><a
                                href="http://feeds.feedburner.com/CowboysNBeansBooks"><span class="icon-rss"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container text-center">
                <div class="subfooter"><span class="copyright">&copy; 2015, C&amp;B|Books</span><span
                        class="copyright"><br>Cowboys 'N Beans Books, LLC is a subsidiary of </span><a class="copyright"
                        href="http://billo.systems/">Billo Systems, Ltd. Co.</a></div>
            </div>
        </footer>
        <script async="" src="/js/analytics.js"></script>
        <script src="/js/jquery-1.js"></script>
        <script src="/js/bootstrap-min.js"></script>
    </main>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-64694381-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
