<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home ~:~ C&B|Books</title>
    <link rel="stylesheet" href="/css/bootstrap-min.css">
    <link rel="stylesheet" href="/css/bootstrap-spacelab-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
    <main>
        <nav class="navbar navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header"><img src="/images/logo-1.6-long-3-x50.png" class="navlogo" />
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/books">Books</a></li>
                            <li><a href="https://groups.google.com/forum/#!forum/cnbbooks-announcements">News</a></li>
                            <li><a href="/books/upcoming">Coming Soon</a></li>
                            <li><a href="/books/buy">Purchasing</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="section" id="subheader">
            <div class="container">
                <div class="row text-right">
                    <div class="subheader">
                        <div class="social"><a href="http://twitter.com/CNBBooks"><span
                                    class="icon-twitter" /></a><span>&nbsp</span><a
                                href="http://feeds.feedburner.com/CowboysNBeansBooks"><span class="icon-rss" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="main">
            <div class="container">
                <div class="row well">
                    <div class="col-md-3 col-sm-4 sidebar">
                        <ul class="nav nav-stacked nav-pills">
                            <div class="panel-group" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="BooksGroupHeading">
                                        <h4 class="panel-title Books" id="-collapsible-list-group-"><a
                                                class=" collapsed" data-toggle="collapse" href="#BooksGroup"
                                                aria-expanded="false" aria-controls="BooksGroup">Books</a></h4>
                                    </div>
                                    <div id="BooksGroup" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="BooksGroupHeading" aria-expanded="false" style="height: 0px;">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="/books/upcoming">Up-coming</a></li>
                                            <li class="list-group-item"><a href="/books/new-releases">New Releases</a>
                                            </li>
                                            <li class="list-group-item"><a href="/books/popular">Popular</a></li>
                                            <li class="list-group-item"><a href="/books/all">All</a></li>
                                            <li class="list-group-item"><a href="/books/buy">Where to Buy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="GenresGroupHeading">
                                        <h4 class="panel-title Genres" id="-collapsible-list-group-"><a
                                                class=" collapsed" data-toggle="collapse" href="#GenresGroup"
                                                aria-expanded="false" aria-controls="GenresGroup">Genres</a></h4>
                                    </div>
                                    <div id="GenresGroup" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="GenresGroupHeading" aria-expanded="false" style="height: 0px;">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="/genres/hf">Historical Fiction</a></li>
                                            <li class="list-group-item"><a href="/genres/ref">Reference</a></li>
                                            <li class="list-group-item"><a href="/genres/sf">Science Fiction</a></li>
                                            <li class="list-group-item"><a href="/genres/tech">Technical</a></li>
                                            <li class="list-group-item"><a href="/genres/ya">Young Adult</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="AuthorsGroupHeading">
                                        <h4 class="panel-title Authors" id="-collapsible-list-group-"><a
                                                class=" collapsed" data-toggle="collapse" href="#AuthorsGroup"
                                                aria-expanded="false" aria-controls="AuthorsGroup">Authors</a></h4>
                                    </div>
                                    <div id="AuthorsGroup" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="AuthorsGroupHeading" aria-expanded="false"
                                        style="height: 0px;">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="/authors/tba">TBA</a></li>
                                            <li class="list-group-item"><a href="/authors/tba">TBA</a></li>
                                            <li class="list-group-item"><a href="/authors/tba">TBA</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div>
                        <h1>Home</h1>
                        <h2>Welcome to the C&B|Books site!</h2>
                        <div>
                            <p>As we begin building out our catalog we will update this page as well as the rest of the
                                site with more content. For now, though, feel free to poke around, subscribe to the
                                announcements mail list, and follow us on Twitter.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="footer">
            <div class="container">
                <div class="row well footer">
                    <div class="bottom-nav"><a href="/about">About</a>&nbsp;|&nbsp;<a
                            href="http://cnbbooks.blogspot.com">Blog</a>&nbsp;|&nbsp;<a
                            href="/media">Media</a>&nbsp;|&nbsp;<a href="/contact">Contact</a>&nbsp;|&nbsp;<a
                            href="/books/buy">How to Order</a></div>
                </div>
            </div>
        </div>
        <div class="section" id="subfooter">
            <div class="container">
                <div class="row text-right">
                    <div class="subfooter">
                        <div class="social"><a
                                href="https://groups.google.com/forum/#!forum/cnbbooks-announcements/join"><span
                                    class="icon-newspaper" /></a><span>&nbsp</span><a
                                href="http://twitter.com/CNBBooks"><span class="icon-twitter" /></a><span>&nbsp</span><a
                                href="http://feeds.feedburner.com/CowboysNBeansBooks"><span class="icon-rss" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container text-center">
                <div class="subfooter"><span class="copyright">&copy; 2015, C&B|Books</span><span
                        class="copyright"><br />Cowboys 'N Beans Books, LLC is a subsidiary of </span><a
                        class="copyright" href="http://billo.systems/">Billo Systems, Ltd. Co.</a></div>
            </div>
        </footer>
        <script src="/js/jquery-1.11.3.min.js"></script>
        <script src="/js/bootstrap-min.js"></script>
    </main>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-64694381-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
