<div class="col-md-3 col-sm-4 sidebar">
    <ul class="nav nav-stacked nav-pills">
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="BooksGroupHeading">
                    <h4 class="panel-title Books" id="-collapsible-list-group-"><a class=" collapsed"
                            data-toggle="collapse" href="#BooksGroup" aria-expanded="false"
                            aria-controls="BooksGroup">Books</a></h4>
                </div>
                <div id="BooksGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="BooksGroupHeading"
                    aria-expanded="false" style="height: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/books/upcoming">Up-coming</a></li>
                        <li class="list-group-item"><a href="/books/new-releases">New Releases</a>
                        </li>
                        <li class="list-group-item"><a href="/books/popular">Popular</a></li>
                        <li class="list-group-item"><a href="/books/all">All</a></li>
                        <li class="list-group-item"><a href="/books/buy">Where to Buy</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="GenresGroupHeading">
                    <h4 class="panel-title Genres" id="-collapsible-list-group-"><a class=" collapsed"
                            data-toggle="collapse" href="#GenresGroup" aria-expanded="false"
                            aria-controls="GenresGroup">Genres</a></h4>
                </div>
                <div id="GenresGroup" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="GenresGroupHeading" aria-expanded="false" style="height: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/genres/hf">Historical Fiction</a></li>
                        <li class="list-group-item"><a href="/genres/ref">Reference</a></li>
                        <li class="list-group-item"><a href="/genres/sf">Science Fiction</a></li>
                        <li class="list-group-item"><a href="/genres/tech">Technical</a></li>
                        <li class="list-group-item"><a href="/genres/ya">Young Adult</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="AuthorsGroupHeading">
                    <h4 class="panel-title Authors" id="-collapsible-list-group-"><a class=" collapsed"
                            data-toggle="collapse" href="#AuthorsGroup" aria-expanded="false"
                            aria-controls="AuthorsGroup">Authors</a></h4>
                </div>
                <div id="AuthorsGroup" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="AuthorsGroupHeading" aria-expanded="false" style="height: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/authors/tba">TBA</a></li>
                        <li class="list-group-item"><a href="/authors/tba">TBA</a></li>
                        <li class="list-group-item"><a href="/authors/tba">TBA</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </ul>
</div>
